*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}
.content{
    width: 30%;
    height: 40%;
    background-color:transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgb(7, 7, 7),inset 0px 0px 10px rgb(62, 226, 62);
}
.content>h4{
    color: rgb(110, 110, 110);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.input-group{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.input-group input {
    border: none;
    padding: 8px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid rgba(63, 63, 173, 0.61);
    color: rgba(28, 28, 29, 0.822);
    border-radius: 5px;
    font-size: 15px;
}
input{
    background-color: #b9b8b8;
}
input::placeholder{
    color: rgb(253, 252, 252);
    font-family: cursive;
}

.submit-group{
   text-align: center;   
}

.btn{
    width: auto;
    padding: .8rem 2rem .8rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(114, 114, 189, 0.61);
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    box-shadow: inset 0px 0px 8px rgb(89, 149, 209); 
    transition: 1s ease-in-out;
}
.btn:hover{
    background-color: rgb(40, 109, 40);
    color: rgb(0, 0, 0);
    
}
.btn:focus{
    background-color: rgba(10, 211, 10, 0.568);
    color: rgb(206, 199, 199);
}