<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Education</th>
        <th>Skills</th>
        <th>Conatact Number</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    {% for d in usersdata %}
    <tr>
      <td>{{d.Name}}</td>
      <td>{{d.Gender}}</td>
      <td>{{d.Date_Of_Birth}}</td>
      <td>{{d.Education}}</td>
      <td>{{d.Skills}}</td>
      <td>{{d.Conatact_Number}}</td>
      <td>{{d.Email}}</td>
     
      <td>
        {% if d.Status == '0' %}
        <a href="../approveusers/{{ d.userid }}" class="btn btn-success ">Approve</a>  
        {% elif d.Status == '1' %}
        <a href="../rejectusers/{{ d.userid }}" class="btn btn-danger">Reject</a>
        {% endif %}
    </td>
    </tr>
    {% endfor%}
  </table>
</body>

</html>