{% extends 'AdminHeader.html'%}
{% block content%}
{%load static%}

<div class="right_col" role="main">  

    <table border='1'>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Education</th>
            <th>Skills</th>
            <th>Conatact Number</th>
            <th>Email</th>
        </tr>
        {% for d in usersdata %}
        <tr>
            <td>{{d.Name}}</td>
            <td>{{d.Gender}}</td>
            <td>{{d.Date_Of_Birth}}</td>
            <td>{{d.Education}}</td>
            <td>{{d.Skills}}</td>
            <td>{{d.Conatact_Number}}</td>
            <td>{{d.Email}}</td>
        </tr>  
        {% endfor%}
    </table>
</div>
{% endblock %}
